.about {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  animation: visible 0.3s ease-in;
  /* background-color: #1A3D52; */
  position: relative;
}
@keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* //////////////////////////////////////////////////////////////////// */

.background {
  position: absolute;
  transform: translateY(-50%);
  animation: deformbackground 30s infinite ease-in-out;
}
@keyframes deformbackground {
  0% {
    width: 100%;
    transform: translate(0, -50%) rotate(0);
  }
  25% {
    width: 110%;
    transform: translate(-50px, -50%) rotate(0);
  }
  50% {
    width: 100%;
    transform: translate(-50px, -55%) rotate(10deg);
  }
  75% {
    width: 130%;
    transform: translate(50px, -50%) rotate(0);
  }
  100% {
    width: 100%;
    transform: translate(0, -50%) rotate(0);
  }
}

/* //////////////////////////////////////////////////////////////////// */

.hero {
  width: 100%;
  min-height: 350px;
  background: linear-gradient(
    to bottom right,
    #1a3d52 10%,
    #4eaee5 60%,
    #78e0f4 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
.hero::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    #78e0f4 40%,
    #4eaee5 60%,
    #1a3d52 100%
  );
  position: absolute;
  z-index: 1;
  opacity: 0;
  animation: animateHero 5s infinite linear alternate;
}
@keyframes animateHero {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hero h1 {
  position: relative;
  z-index: 2;
  font-size: 3rem;
  color: #fff;
  margin: 0;
  margin-bottom: 20px;
  padding: 0 20px;
  animation: appear 0.5s ease-in;
}
.hero p {
  position: relative;
  z-index: 2;
  font-size: 1.3rem;
  color: #fff;
  margin: 0;
  text-align: center;
  animation: appear 0.8s ease-in;
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about__middle {
  margin: 150px 0;
  width: 100%;
  padding: 0 200px;
  display: flex;
  justify-content: center;
  gap: 50px;
  position: relative;
  z-index: 1;
}
.about__middleCard {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 30px;
  animation: cardslide 0.5s ease-in;
}
.about__middleCard::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 30%;
  height: 5px;
  background-color: var(--secondary);
  border-radius: 5px;
}
.about__middleCard:nth-last-of-type(1) {
  --middle-card: 50%;
}
.about__middleCard:nth-last-of-type(2) {
  --middle-card: -50%;
}
@keyframes cardslide {
  0% {
    transform: translateY(var(--middle-card));
  }
  100% {
    transform: translateY(0);
  }
}
.about__middleCard h2 {
  font-size: 2rem;
  color: #1a3d52;
  margin: 0;
}
.about__middleCard p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

.about__bottom {
  width: 100%;
  padding: 100px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  position: relative;
}
.about__bottomCard {
  width: 350px;
  background: linear-gradient(
    45deg,
    var(--primary),
    var(--secondary),
    var(--tertiary)
  );
  backdrop-filter: blur(10px);
  border: 2px solid var(--primary);
  color: #fff;
  border-radius: 20px;
  padding: 30px;
  animation: scaler 5s ease-in-out infinite;
}
.about__bottomCard:nth-last-of-type(2) {
  animation-delay: 2s;
}
.about__bottomCard:nth-last-of-type(3) {
  animation-delay: 3s;
}

@keyframes scaler {
  0% {
    scale: 1;
  }
  25% {
    scale: 1.1;
  }
  50% {
    scale: 1;
  }
  75% {
    scale: 1;
  }
  100% {
    scale: 1;
  }
}
.about__bottomCard h2 {
  margin: 0;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 500;
  color: #fff;
  margin-bottom: 10px;
}
.about__bottomCard p {
  font-size: 1rem;
  text-align: center;
}

/* ///////////////////////////////////////////////////////////////// */
.border_image_dynamic {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: none;
  border-right: none;
  border-image: url(../public/images/icons/film_border.png) 120 round;
}
/* ///////////////////////////////////////////////////////////////// */
.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.testimonials h2 {
  color: #1a3d52;
  font-size: 3rem;
  text-align: center;
  padding: 0 20px;
}

.embla {
  /* height: 80vh; */
  width: 100%;
  overflow: hidden;
  position: relative;
  /* filter: brightness(70%); */
  /* background-color: red; */
  padding: 70px 0 0;
}
.embla__container {
  height: 100%;
  display: flex;
}
.embla__slide {
  width: 100%;
  height: 100%;
  flex: 0 0 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 0 100px;
}
/* .embla__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: grab;
  } */
.embla__card {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    #1a3d52 10%,
    #4eaee5 60%,
    #78e0f4 100%
  );
  border-radius: 5px;
  padding: 0 20px 50px;
  color: #fff;
}
.cardTop {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
  width: 100%;
}
.cardTop__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardTop__text h3 {
  margin: 0;
}
.cardTop__text p {
  color: #ccc;
  font-size: 0.9rem;
}
.embla__card img {
  width: 60px !important;
  height: 60px !important;
  object-fit: cover;
  border-radius: 50%;
  /* position: absolute; */
  /* transform: translateY(-50%); */
  margin: 0;
  /* border: #78e0f4 solid 5px; */
  background-color: linear-gradient(
    to bottom right,
    #1a3d52 10%,
    #4eaee5 60%,
    #78e0f4 100%
  );
}
.embla__card h3 {
  /* margin-top: 60px; */
}
.embla__card p {
  margin: 0;
  font-weight: 300;
}
.embla__icon {
  position: absolute;
  right: 10%;
  bottom: 10%;
}

/*////////////// @media queries ////////////////*/

@media only screen and (max-width: 599px) {
  .about__middle {
    flex-direction: column;
    padding: 0 30px;
  }
  .embla {
    margin-bottom: 50px;
  }
  .embla__slide {
    flex-direction: column;
    padding: 0 20px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .about__middle {
    flex-direction: column;
    padding: 0 50px;
  }
  .embla__slide {
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .about__middle {
    flex-direction: column;
    padding: 0 150px;
  }
}
