@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "K2D-ExtraBold";
  src: url("/fonts/K2D-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "K2D-Bold";
  src: url("/fonts/K2D-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "K2D-Regular";
  src: url("/fonts/K2D-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.k2d {
  font-family: "K2D-Regular", sans-serif;
}
.k2d-bold {
  font-family: "K2D-Bold", sans-serif;
}
.k2d-extrabold {
  font-family: "K2D-ExtraBold", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --primary: #003e95;
  --secondary: #00a7f5;
  --tertiary: #92dcff;
  --gradient: linear-gradient(
    45deg,
    var(--primary),
    var(--secondary),
    var(--tertiary)
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.waves {
  position: relative;
  width: 100%;
  height: 100%;
}
.waves {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%2392dcff' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%2392dcff' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e"),
    url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%2392dcff' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%2392dcff' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e"),
    url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%2392dcff' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%2392dcff' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e");
  background-repeat: repeat-x;
  background-size: 1600px 60%;
  background-position: 0 130%, -50px 130%, 500px 130%;

  animation: 20s waves linear infinite forwards;
}

@keyframes waves {
  to {
    background-position: 1600px 130%, 3150px 130%, 5300px 130%;
  }
}
